#full-screen{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(50, 49, 49);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-screen__pic {
    max-height: 77vh;
}
#back-arrow {
    height: 30px;
    width: 30px;
    position: fixed;
    top: 120px;
    left: 30px;
    filter: invert();
}
#back-arrow_text {
    height: 30px;
    width: 200px;
    position: fixed;
    top: 110px;
    left: 70px;
    filter: invert();
}
#star {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    z-index: 20;
    
    stroke: #000;
    stroke-linejoin: round;
    stroke-width: 32px; 
    filter: invert();
}
.star-none {
    fill: none;
}
.star-fill {
    fill: black;
}
#star-backing {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    z-index: 21;
}
