.login-search-c__search{
    max-width: 80%;
    margin-left: auto;
    margin-right: 0px;
    box-sizing: border-box;
    width: 40vw;
    height: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(222, 222, 222, 1);
    border-radius: 2%;
    position:fixed;
    left: 250px;
}
#login-magnifying-glass{
    filter:  invert() brightness(35%);
    height: 24px;
    width: 24px;
    margin-left: 10px;
}
.login-search-icon-input{
    background-color: transparent;
    border: none;
    margin-left: 5px;
    width: 100%;
}