.centered-middled {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.login-nav-c {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 64px;
    z-index: 10;
    background: rgba(0,0,0,.9);
    /* opacity: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-nav-c__flicker {
    position: fixed;
    top: 5px;
    left: 25px;
}
#login-icon-flickr_logo {
    top: 20px;
    left: 20px;
    height: 50px;
    filter: invert();     
}
.shimmer {
    position: relative;
    height: 75px;
    filter: invert(); 
    top: -8px;    
}
.login-nav-c__how {
    position: fixed;
    left: 200px;
    top: 18px;
    background-color: rgb(126, 126, 126);
    padding: 5px;
    border-radius: 5px;
    transition: .3s background-color;

}
.login-nav-c__how span{
    color: black;
    font-family: 'Poppins', sans-serif;
}
.login-nav-c__how:hover{
    background-color: rgb(233, 233, 233);
}
#login-nav__search {
    position: fixed;
    left: 300px;
    width: 25vw;
    border: 5px solid green;
}
#login-nav-c__login {
    height: 20px;
    width: 50px;
    z-index: 1;
    position: fixed;
    top: 21px;
    right: 40px;
    color: white;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
}
#login-nav-c__signup {
    height: 20px;
    width: 40px;
    z-index: 1;
    position: fixed;
    top: 12px;
    right: 35px;
    color: #000;
    background-color: #fff;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-magnifying-glass--right{
    visibility: hidden;
}

#main__c {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    left:0px;
    top: 0px;
    margin: 0px;
    transition: filter .5s;
    background-color: black;
    
}
.blur {
    filter: blur(7px) brightness(-45%);
    
}

#login-form-c {
    width: 310px;
    height: 400px;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
    position: fixed;
    left: -150px;
    z-index: 1;
    top: 110px;
    margin: 0px 50% 0px 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 1;

}
#balls {
    margin-top: 25px;
    width: 25px;
}
#log-in-to-shimmer {
    margin: 20px;
    font-weight: 400;
    color: #212124;
    font-family: Proxima Nova,Helvetica,sans-serif;
    line-height: 1.3;
    font-size: 20px;
}
#login-form  {
    position: relative;
    width: 100%;
    height: 80%;

    z-index: 3;
    /* margin: 0px 50% 0px 50%; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    
    
}
#email-input {
    width: 80%;
    height: 50px;
    color: #212124;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    transition: background-color .5s;
}
#email-input:hover {
    background-color: #c7f0ff;
}

#password-input {
    /* margin: 0px 50% 0px 50%; */
    width: 80%;
    height: 50px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    color: #212124;
    border-radius: 5px;
    border: 1px solid rgb(223, 223, 223);
    transition: background-color .5s;
}
#password-input:hover {
    background-color: #e1e1e1;
}
#login-button-c {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    background-color: #1696E6;
    border: 1px solid #1696E6;
    color: #212124;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s;
}
#login-button-c:hover {
    background-color: #86d1ff;
}
#login-button-c__button {
    width: 80%;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    color: #212124;
    border: none;
    outline: none;
    
}
#invisible-click-box {
    height: 35px;
    width: 155px;
    position: fixed;
    top: 10px;
    right: 31px;
    z-index: 11;
}
#how-dropdown {
    position: fixed;
    top: 64px;
    left: 0px;
    height: calc(100vh -64px);
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    overflow-y: scroll;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 30px;
}
#how-dropdown__title {
    width: 100%;
    display: flex;
    justify-content: center;
}
#how-dropdown p {
    margin: 20px 0px 20px 35px;
}
.indent {
    text-indent: 20px;
}
.how-dropdown__img{
    margin: 10px 0px 10px 40px;
}
.how-dropdown__img-star{
    height: 165px;
    margin: 10px 0px 10px 40px;
}
#star-and-back-arrow-c,
#your-gallery-nav-img-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
