@media screen and (max-width: 820px) {
    body {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    #tranform-box {
        visibility: visible;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .nav-c__flicker {
        margin-left: 50px;
    }
    .nav-c__link-box__link {
        visibility: hidden;
        width: 0px;
        position: absolute;
    
    }

    .below-nav-c__centering-c__right-c {
        justify-content: flex-start;
    }
    .left-c__link-3 {
        margin-left: 0px;
    }
    .nav-c__search {
        visibility: hidden;
    }
    .below-nav-c__centering-c__left-c {
        width: 270px;
        height: 50px;
        /* border: 1px solid rgb(0, 179, 161); */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .pic-array-container { 
        justify-content: flex-start;
        width: 100vw;
        height: 2000px;
        margin-left: 0px;
        margin-right: 0px;
     
    } 
    .your-gallery__pic-c__array-c { 
        justify-content: flex-start;
        width: 100vw;
        height: 2000px;
        margin-left: 0px;
        margin-right: 0px;
     
    } 
 
    .pic {
        height: 100%;
        max-width: 100%; 
      
    }
    ul {
      width: 100vw;
      
    }

    li {  
      flex-grow: 1;
      margin: 3px;
    }

    /* ///////LoginNav////////// */
    .login-search-c__search{
        top: -200px;
    }
    #login-magnifying-glass--right{
        filter:  invert() ;
        height: 24px;
        width: 24px;
        position: fixed;
        right: 125px;
        top: 20px;
        visibility: visible;

    }
    #login-nav-c__login {

        top: 17px;
        right: 20px;
        height: 30px;
        width: 70px;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }
    #login-nav-c__login span {
        top: -1px;
        position: relative;
    }
    #login-nav-c__signup {
        visibility: hidden;
        position: absolute;
        top: -200px;
    }
    #invisible-click-box {
        height: 35px;
        width: 76px;
        top: 15px;
        right: 16px;
    }
}