.pic-array-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80vw;
    height: 1000px;
    /* max-width: 80%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-sizing: border-box;
    border-color: 20px solid blue;
}
.pic {
    height: 40vh;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  width: 80vw;
  margin: auto;
  /* position: absolute; */
  overflow: hidden; 
}

li {
  height: 40vh; 
  flex-grow: 1;
  margin: 3px;
}
.pic-frame {
    height: 40vh;
    flex-grow: 1;
}
.backwards {
  top: -500px !important;
  opacity: 0%;
}