#layout-mozaic {
  height: 40px;
  width: 40px;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* position: absolute; */
  /* top: 100px; */
  right: 15.7vw;

}
#layout-square {
  height: 41px;
  width: 41px;
  background-color: lightgray;
  /* position: absolute; */
  /* top: 100px; */
  right: 10vw;
  margin: 0px 0px 0px 20px;
}
.layout-mozaic__short{
  margin: 1px 1px 1px 1px;
  width: 20%;
  height: 18px;
  background-color: lightgray;
}
.layout-mozaic__long{
  margin: 1px 1px 1px 1px;
  width: 70%;
  height: 18px;
  background-color: lightgray;
}
.pic-array-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80vw;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    box-sizing: border-box;
    border-color: 20px solid blue;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  width: 80vw;
  margin: auto;
  margin-top: 0px;
  /* position: absolute; */
  overflow: hidden; 
  margin-bottom: 0px;
  
}
.li-layout-1 {
  height: 40vh; 
  flex-grow: 1;
  margin: 3px 3px 3px 3px;
}
.li-layout-2 {
  height: calc(100vh - 100px); 
  flex-grow: 1;
  margin: 3px;
  margin-left: 0px;
}
.pic {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;   
}




/* .pic-frame {
    height: 40vh;
    flex-grow: 1;
} */
.backwards {
  top: -500px !important;
  opacity: 0%;
}